*{
	margin: 0;
	padding: 0;
}
body {
	width: 300px;
	height: 400px;
	font-family: 'Acme', sans-serif;
	background: #303030;
	color: white;
}
nav{
	width: 300px;
	display: flex;
	align-items: center;
	margin: 10px 0px;
	justify-content: center;
}
.hide{
	display: none;
}
.arrow{
	width: 64px;
	height: 64px;
	background-size: cover;
}
.arrow:hover{
	cursor: pointer;
	filter: contrast(0%);
}
#left{
	transform: rotate(180deg);
}
section{
	display: flex;
	flex-direction: column;
}
.option {
	position: relative;
	width: 300px;
	height: 30px;
	margin: 5px 0px;
}
.option-name {
	position: absolute;
	left: 5px;
	font-size: 22px;
}
.switch {
	position: absolute;
	right: 5px;
	display: inline-block;
	width: 48px;
	height: 23px;
	transform: translateY(2px);
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #E64E41;
	-webkit-transition: .2s;
	transition: .2s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 19px;
	width: 19px;
	left: 2px;
	bottom: 2px;
	background-color: #EDEDED;
	-webkit-transition: .2s;
	transition: .2s;
}
input:checked + .slider {
	background-color: #33A656;
}
input:checked + .slider:before {
	-webkit-transform: translateX(25px);
	-ms-transform: translateX(25px);
	transform: translateX(25px);
}
.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}
#refresh{
	bottom: 5px;
	left: 100px;
	position: absolute;
	width: 100px;
	height: 20px;
	background-image: url('../img/Button.png');
}
#refresh:hover{
	opacity: 0.8;
	cursor: pointer;
}
.note{
	bottom: 25px;
	position: absolute;
	width: 300px;
	text-align: center;
}
.modelLink{
	margin-top: 10px;
	left: 0px;
	width: 300px;
	color: rgba(78, 155, 255, 1);
	text-align: center;
	text-decoration: underline;
}
.modelLink span:hover{
	cursor: pointer;
	color: rgb(70, 253, 46);
	text-decoration: underline;
	transition: .3s;
}